%% -*- erlang -*-
%% Config file for rfzone application.
{sub_dirs, ["src", "rel"]}.
{deps_dir, ["deps"]}.
{deps, [{canopen, "1.0"},
	{uart,"0.1"}
       ]}.
{erl_opts, [debug_info, fail_on_warning]}.
{require_otp_vsn, "R14|R15"}.
{xref_checks, [exports_not_used, undefined_function_calls]}.
{ct_extra_params, " -ct_config test/rfzone.cfg"}.
