%% -*- erlang -*-
%% Config file for rfzone application.
{sub_dirs, ["src", "rel"]}.
{deps_dir, ["deps"]}.
{deps,  [ {uart, ".*", {git, "git@github.com:tonyrog/uart.git"}},
	  {canopen, ".*", {git, "git@github.com:tonyrog/canopen.git"}}
	]}.
{erl_opts, [debug_info, fail_on_warning]}.
{xref_checks, [exports_not_used, undefined_function_calls]}.
{ct_extra_params, " -ct_config test/rfzone.cfg -suite rfzone_SUITE"}.

%% When testing with exodm
%%{ct_extra_params, " -ct_config test/rfzone.cfg -suite rfzone_exo_SUITE -setcookie ex
%% -name as long as exodm uses longname. 
%% cookie = exodm as long as this cookie is used by exodm.
%% You can also run ct in the test directory with:
%% ct_run -config rfzone.cfg -suite rfzone_exo_SUITE -erl_args -name ct -setcookie exodm 
