%% -*- erlang -*-
%%
%% Configuration file for included erlang applications
%% when running rfzone with exoport
[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {kvdb, [
	 {databases,
	  [{kvdb_conf,
               [{file,"kvdb_conf.db"},
                {backend,ets},
                {log_dir,"kvdb_conf.log"},
                {log_threshold,[{writes,1000}]},
                {save_mode,[on_switch,on_close]},
                {tables,[data]},
                {encoding,{raw,term,term}},
                {schema,kvdb_schema_events}]}]}]},

 %% exoport config
 {exoport, [
	    {config, [{exodm_host, "localhost"},
		      {'device-id', "*rfzone*1234"},
		      {'ckey', 1},
		      {'skey', 2}]},
	    {bert_port, 9990},
	    {access, {file, "rpc_access.conf"}}
	   ]},
 {lager, [
	  {handlers, [
		      {lager_console_backend, debug},
		      {lager_file_backend,
		       [
			{"log/lager/error.log", error, 10485760, "$D0", 5},
			{"log/lager/console.log", info, 10485760, "$D0", 5}
		       ]}
		     ]}
	 ]},
 %% CANopen config. For details on options see co_api.erl
 {canopen, [
 	    {serial, 16#03000301}, 
	    {options, [{use_serial_as_xnodeid, true},
	    	       {name, co_rfzone},
	               {max_blksize, 7},
	               {dict, default},
%%		       {debug, true}, %% If you want trace output
		       {vendor,16#2A1}]}
	    ]},
 %% rfZone config
 {rfzone, [
 	      {options, [{config, "local.conf"},
			 {retry_timeout, 5000}, %% retry open port - ms
		         {debug, true}, %% If you want trace output
			 {co_node, {name, co_rfzone}}]}  %% Same as above !!!         
	      ]}
].

